
@import "./animation.scss";


* {
  margin: 0;
  padding: 0;
  font-weight: normal;

}

body {
  font-size: 14px;
  overflow-x: hidden;
  color:#333;
}

.iconfont{
 font-size: 12px;
}
.el-button .iconfont+span{
  margin-left: 5px;
}
.f-warn{
  color:#F56C6C;
}

.el-form{
  overflow: hidden;
  margin-right: 50px;
} 

.el-table,
.el-select,
.el-date-editor--date {
  width: 100%;
}
.el-row{
  margin: 10px 10px 10px 0;
}
.el-menu--collapse .el-submenu__icon-arrow,
.el-menu--collapse .el-submenu__title>span{
  display: none;
}
/**
* 自适应设计
*/
.f-flex{
  display: flex;
}
.f-clear{
  overflow: hidden;
  &:before,
  &:after{
   content:'';
   clear: both;
  }
}
.f-item1 {
  width: 100%;
}

.f-item2 {
  width: 50%;
}

.f-item3 {
  width: 33.3%;
}

.f-item {
  width: 25%;
}

@media screen and (max-width: 1920px) {
  .f-item {
    width: 25%;
  }

  .f-item2 {
    width: 50%;
  }

  .f-item3 {
    width: 33.3%;
  }
}

@media screen and (max-width: 1640px) {

  .f-item,
  .f-item3,
    {
    width: 33.3%;
  }
}

@media screen and (max-width: 1300px) {

  .f-item,
  .f-item2,
  .f-item3 {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {

  .f-item,
  .f-item2,
  .f-item3 {
    width: 100%;
  }
}


/**
 * 滚动条修饰
 */
 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}
