* {
  margin: 0;
  padding: 0;
  font-weight: normal;

}

body {
  font-size: 12px;
}
.f-warn{
  color:red;
}

.el-form .el-form-item {
  padding-right: 30px;
}

.el-select,
.el-date-editor--date {
  width: 100%;
}

/**
* 自适应设计
*/
.f-flex{
  display: flex;
}
.f-item1 {
  width: 100%;
}

.f-item2 {
  width: 50%;
}

.f-item3 {
  width: 33.3%;
}

.f-item {
  width: 25%;
}

@media screen and (max-width: 1920px) {
  .f-item {
    width: 25%;
  }

  .f-item2 {
    width: 50%;
  }

  .f-item3 {
    width: 33.3%;
  }
}

@media screen and (max-width: 1640px) {

  .f-item,
  .f-item3,
    {
    width: 33.3%;
  }
}

@media screen and (max-width: 1300px) {

  .f-item,
  .f-item2,
  .f-item3 {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {

  .f-item,
  .f-item2,
  .f-item3 {
    width: 100%;
  }
}


/**
 * 滚动条修饰
 */
 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #e2e2e2;
}
